html, body {
    margin: 0;
    padding: 0;
}

#parent-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.footer {
    margin-top: auto;
    background-color: var(--green-lighter);
}

nav {
    background-color: var(--green);
}

.impt {
    color: var(--green);
}

.dropdown-menu {
    background-color: var(--green);
    border-color: var(--green);
}

.dropdown-item {
    color: var(--bs-navbar-color);
}

.dropdown-item:hover {
    background-color: var(--green);
    color: var(--bs-navbar-hover-color);
}

#banner {
    width: 100%;
    padding: 0;
    margin: 0;
}

.icon {
    color: var(--bs-success);
}

.speaker {
    width: 10em;
    margin-top: 0.3em;
    margin-right: 1.5em;
    margin-bottom: 0.7em;
    border-radius: 1em;
}

@media(max-width: 768px) {
    .speaker {
        width: 100%;
        margin-top: 0.3em;
        margin-right: 2em;
        margin-bottom: 1.5em;
        border-radius: 1em;
    }
}

.justify {
    text-align: justify;
}

a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

td {
    vertical-align: top;
}

.publist li {
    padding-bottom: 1em;
}